<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DodgerBlue;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
header {
    width: 100%;
    max-width: 1050%;
    margin: auto;
}

nav{
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: black;
    padding: 20px;
}

nav ul li {
    list-style: none;
}


nav ul{
    margin: 0%;
    display: flex;
}


nav ul li a {
    font-size: 20;
    font-weight: 800;
    padding: 10px;
    color: white;
    text-decoration: none;
}


nav ul li a:hover {
    background: #d1d0d0;
    color: #000000;
    transition: all.3s;
}
</style>
